.ActionContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-color: peachpuff;
    height: 200px;
    gap: 10px;
    padding: 5px;
    border-radius: 25px;
    border: solid black;

}
.ActionSeparator {
    background-color: black;  /* Set the color of the line */
    /* Optional: Add horizontal spacing if needed */
    border: solid black;
    height: 100%;
    align-self: stretch;      /* Make sure the separator stretches to fit */
    border-radius: 25px;

}
